@import "vars.scss";

/* Default styles */
html {
    font-size: 15px;
    
}

body {
    margin: 0;

    background-color: $gray;

    font-family: 'Montserrat', sans-serif;
    color: $black;
    font-size: 1rem;
    line-height: 1.5;
}
*, *:after, *:before {
    box-sizing: border-box;
}

/* Bootstrap */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/grid";

/* Blocks */
@import "blocks/header.scss";
@import "blocks/logo.scss";
@import "blocks/nav.scss";
@import "blocks/content.scss";
@import "blocks/lang.scss";
@import "blocks/page.scss";
@import "blocks/footer.scss";
@import "blocks/intro.scss";
@import "blocks/btn.scss"; 
@import "blocks/contacts.scss"; 
@import "blocks/author.scss";
@import "blocks/circle.scss"; 
